
<h1 id="admin-title">Admin Dashboard</h1>

<table class="table table-striped">
  <tr>
    <th>Email</th>
    <th>Username</th>
    <th>Created at</th>
    <th>Last Sign In</th>
    <th>Option</th>
  </tr>
<% @users.each do |user| %>
  <tr>
      <td><%= link_to user.email,user_path(user)  %></td>
      <td><%= user.username %></td>
      <td><%= user.created_at%></td>
      <td><%= user.last_sign_in_at %></td>
      <td><%= link_to "delete", admin_path(user), method: :delete, data: {confirm: "Are you sure?"} %></td>
      <% end %>
  </tr>

</table>
