<div class='row'>

  <div class="col-sm-7">
    <div class="card text-center">
      <% @tweets.each do |tweet| %>
      <div class="card-header">
        "Quote of the Day"
      </div>
      <div class="card-block">
        <span class="card-title"><%=link_to tweet.user.email, user_path(tweet.user.id)%>  says  <%= tweet.body %></span>
        <% tweet.replies.each do |reply| %>
        <p class="card-text"><%= reply.user.email %> says <%= reply.body %></p>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <% if tweet.user == current_user %>
          <%= link_to :Edit, edit_tweet_path(tweet), :class => "post-bottom-button" %>
          <%= link_to :Delete, tweet_path(tweet), method: :delete, data:{ confirm: "Are you sure?" }, :class => "post-bottom-button" %>
        <% end %>
        <%= link_to :Reply, new_tweet_reply_path(tweet), :class => "post-bottom-button" %>
      </div>
      <% end %>
    </div>
  </div>

</div>
