<div class='row'>
    <div class="card text-center">
      <% @tweets.each do |tweet| %>
      <div class="card-header">
        "Quote of the Day"
      </div>
      <div class="card-block">
        <span class="card-title"><%= image_tag tweet.user.avatar, class: "img-thumbnail" %> @<%=link_to tweet.user.username, user_path(tweet.user.id)%> : <%= tweet.body %></span>
        <hr>
        <p>
          Tags:
          <span class='glyphicon glyphicon-tag'><%= raw tag_links(tweet.all_tags)%></span>
        </p>
        <hr>

        <br>

        <% if tweet.user == current_user %>
        <div class ="right-index-footer">
          <%= link_to new_tweet_reply_path(tweet), "data-toggle" => "modal", "data-target" => "#myReply", remote: true, class:"post-bottom-button", id: "reply-button" do%>
          <span class='glyphicon glyphicon-share-alt'></span>Reply
          <% end %>
          <%= link_to retweet_tweet_path(tweet), class: "post-bottom-button",id: "retweet-button" do%>
          <span class='glyphicon glyphicon-repeat'></span>Retweet
          <% end %>
        </div>
        <% end %>

        <div class="like-footer">
          <%= pluralize(tweet.likes.count, "like") %>
          <br>
          <%= link_to upvote_tweet_path(tweet), method: :post, remote: true, class: "post-bottom-button" do%>
          <span class='glyphicon glyphicon-thumbs-up'></span>
          <% end %>
        </div>
      </div>
      <div class="card-footer text-muted">
        <% tweet.replies.each do |reply| %>
        <p class="card-text">@<%= reply.user.username %> : <%= reply.body %></p>
        <% end %>
      </div>

      <div class="modal fade" id="myReply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-sm-5" id="chipper-reply-box">
                    <h3>Reply</h3>
                    <%= form_for @reply, url: tweet_replies_path(tweet) do |f| %>
                    <%= f.text_area :body %>
                    <br>
                    <%= f.submit "Submit" %>
                    <%= link_to "Cancel", tweets_path, :id => 'cancel-button' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
