<div id = 'landing_page', class = 'container'>
  <div class = 'row'>
    <p class='col-sm-6 navbar-text pull-right'>
      <%= link_to 'New Chipper', new_tweet_path, id: 'new_chipper', remote: true %>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% end %>

    <table class= 'col-sm-6 col-sm-offset-3' id = 'added_tweet'>
      <% @tweets.each do |tweet| %>
      <tr>
        <td colspan=''><%= tweet.body %></td>
      </tr>

      <% tweet.replies.each do |reply| %>
      <tr>
        <td><%= reply.body %></td>
      </tr>
      <% end %>

      <tr>
        <td><%= link_to :Edit, edit_tweet_path(tweet) %></td>
        <td><%= link_to :Delete, tweet_path(tweet), method: :delete, data:{ confirm: 'Are you sure?' } %></td>
        <td><%= link_to :Reply, new_tweet_reply_path(tweet)%></td>
      </tr>

      <% end %>
    </table>
  </div>
</div>
