<h1>Main Page</h1>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% end %>


<br>
<%= link_to "New Chipper", new_tweet_path %>

<br>

<% @tweets.each do |tweet| %>
<%= tweet.body %> <br>
<%= link_to :Edit, edit_tweet_path(tweet) %>
<%= link_to :Delete, tweet_path(tweet), method: :delete, data:{ confirm: "Are you sure?" } %> <br>
<% end %>
