<div class='container', id = 'landing_page'>
  <div class='row'>
    <div class='col-sm-12'>
      <nav class='navbar navbar-inverse' id='top-navbar'>
        <div class='container-fluid'>
          <div class='navbar-header'>
            <%= image_tag 'chipper-icon.png', :class => 'logo' %>
          </div>
          <ul class='nav navbar-nav'>
            <li><%= link_to :Home, tweets_path %></li>
            <li><%= link_to 'Profile Page', user_path(@user) %></li>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myTweet">
              <li><%= link_to 'New Chipper', new_tweet_path, id: 'new_chipper', remote: true %></li>
            </button>
            <li><%= link_to 'Feed', feed_tweets_path %></li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
            <% if user_signed_in? %>
            <li>
              <%= link_to edit_user_registration_path do%>
              <span class='glyphicon glyphicon-user'></span>Edit Profile
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do%>
              <span class='glyphicon glyphicon-log-in'></span>Log Out
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <section class="stats">
     <%= render partial: 'shared/stats' %>
  </section>

  <div class="modal fade" id="myTweet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div id="tweet_form_container">
            <%= render partial: 'tweet_form'%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='tweet_index_container'>

    <%= render partial: 'tweet_index'%>

  </div>

</div>
