

<%= image_tag @user.avatar, :class => 'profile-pic' %>


<h1><%= @user.email %></h1>

<section class="stats">
  <%= render partial: 'shared/stats' %>
</section>
<section>
  <%= render partial: 'shared/follow_form' %>
</section>

<div class='row'>

  <div class="col-sm-7">
    <div class="card text-center">
      <% @user.tweets.pluck(:body).each do |t| %>
      <div class="card-header">
        "Quote of the Day"
      </div>
      <div class="card-block">
        <span class="card-title"><%= t %></span>
      </div>

      <div class="card-footer text-muted">
        <% if @user == current_user %>
        <%= link_to :Edit, edit_tweet_path(), :class => "post-bottom-button" %>
        <%= link_to :Delete, tweet_path(), method: :delete, data:{ confirm: "Are you sure?" }, :class => "post-bottom-button" %>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>

</div>
